@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.dozerCardsContainer {
  display: flex;
  flex-wrap: wrap;
}

div.cardContainer {
  width: 375px;
  margin: 5px;
}

div.moreInfoInput {
  margin-top: 15px;
  margin-bottom: 15px;
}